<mat-progress-bar color="warn" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<ng-container *ngIf="locationInfo$ | async as locationInfo">
  <div class="py-3">
    <div class="location-card d-flex flex-column align-items-center col-8 text-white text-center pt-3 m-auto position-relative">
      <app-favorite-button class="favorite-btn" [item]="locationInfo"></app-favorite-button>
      <h1 class="text-white pt-3">{{locationInfo.name}}</h1>
      <p class="pt-3">Dimension: <span class="fw-bold">{{locationInfo.dimension}}</span></p>
      <p>Location created: <span class="fw-bold">{{locationInfo.created}}</span></p>
      <p>Location type: <span class="fw-bold">{{locationInfo.type}}</span></p>
      <p class="h3">Characters on location</p>
      <owl-carousel-o [options]="customOptions" class="col-12 px-3">
        <ng-container *ngFor="let character of locationInfo.residents">
          <ng-template carouselSlide [id]="character.id">
            <div class="character-item mx-2 bg-white">
              <a [routerLink]="['/characters', character.id]" class="text-dark m-0 text-decoration-none">{{character.name}}
                <img class="d-block w-100" [src]="character.image">
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</ng-container>
